@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Pokefont";
  src: local("pokemon_generation_1"),
  url("./assets/fonts/pokemon_generation_1.ttf") format("truetype");
} */

@font-face {
  font-family: "PressStart2P";
  src: url('/frontend/src/assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}